@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.ProseMirror {
  min-height: 240px;
  padding: 8px;
  cursor: text;
}

.ProseMirror:focus {
  outline: none;
}

.ProseMirror p {
  margin: 0.5rem 0;
}

.ProseMirror ul {
  list-style: disc;
  padding-left: 1.5rem;
}

.ProseMirror ol {
  list-style: decimal;
  padding-left: 1.5rem;
}

button {
  cursor: pointer;
}



/* placeholder input description notes */
.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #9ca3af;
  pointer-events: none;
  height: 0;
}

/* dropdown list in input description notes */
/* TASK LIST */

.ProseMirror ul[data-type="taskList"] {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.ProseMirror ul[data-type="taskList"] li {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin: 6px 0;
}

.ProseMirror ul[data-type="taskList"] li > label {
  flex-shrink: 0;
  margin-top: 2px;
}

.ProseMirror ul[data-type="taskList"] li > div {
  flex: 1;
}

.ProseMirror ul[data-type="taskList"] li > div p {
  margin: 0;
}